{% block layout_navbar_menu_item %}
    {% set hasMegaMenu = false %}
    {% if hasChildren %}
        {% for childItem in treeItem.children %}
            {% set childCategory = childItem.category %}
            {% if childCategory.type != 'folder' %}
                {% if childItem.children|length > 0 %}
                    {% set hasMegaMenu = true %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <li class="nav-item nav-main-item-with-children{% if hasChildren and hasMegaMenu %} dropdown position-static has-mega-menu{% endif %}">
        <a class="nav-link nav-main-link{% if hasChildren and hasMegaMenu %} has-children has-mega-menu{% endif %}"
           href="{{ category_url(category) }}"
           {% if category_linknewtab(category) %}target="_blank"{% endif %}
           itemprop="url"
           title="{{ name }}">
            <span itemprop="name" class="main-navigation-link-text">{{ name }}</span>
            {% if hasChildren and hasMegaMenu %}
                <span class="menu-underline"></span>
            {% endif %}
        </a>
        
        {% if hasChildren and hasMegaMenu %}
            <div class="dropdown-menu mega-menu container-fluid p-0">
                <div class="container py-4">
                    <div class="row">
                        <div class="">
                            <div class="row">
                                {% for childItem in treeItem.children %}
                                    {% if loop.index <= 8 %}
                                        {% set childCategory = childItem.category %}
                                        {% if childCategory.type != 'folder' %}
                                            <div class="col-md-3 mb-4">
                                                <div class="mega-menu-column">
                                                    <h6 class="mega-menu-title">
                                                        <a href="{{ category_url(childCategory) }}">
                                                            {{ childCategory.translated.name }}
                                                        </a>
                                                    </h6>
                                                    
                                                    {% if childItem.children|length > 0 %}
                                                        <ul class="mega-menu-list">
                                                            {% for grandChildItem in childItem.children %}
                                                                {% if loop.index <= 6 %}
                                                                    {% set grandChildCategory = grandChildItem.category %}
                                                                    <li>
                                                                        <a href="{{ category_url(grandChildCategory) }}">
                                                                            {{ grandChildCategory.translated.name }}
                                                                        </a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                            
                                                            {% if childItem.children|length > 6 %}
                                                                <li class="more-link">
                                                                    <a href="{{ category_url(childCategory) }}">
                                                                        {{ "Alle anzeigen" }}
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                                            <polyline points="9 18 15 12 9 6"></polyline>
                                                                        </svg>
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </li>
{% endblock %}