{% block buy_widget %}
    <div class="product-detail-buy{% if elementId %}-{{ elementId }}{% endif %} js-magnifier-zoom-image-container">
        {% block buy_widget_rich_snippets %}
            {% block buy_widget_rich_snippets_gtin13 %}
                {% if product.ean %}
                    <meta itemprop="gtin13" content="{{ product.ean }}">
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_mpn %}
                {% if product.manufacturerNumber %}
                    <meta itemprop="mpn" content="{{ product.manufacturerNumber }}">
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_weight %}
                {% if product.weight %}
                    <meta itemprop="weight" content="{{ product.weight }} kg">
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_height %}
                {% if product.height %}
                    <meta itemprop="height" content="{{ product.height }} mm">
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_width %}
                {% if product.width %}
                    <meta itemprop="width" content="{{ product.width }} mm">
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_depth %}
                {% if product.length %}
                    <meta itemprop="depth" content="{{ product.length }} mm">
                {% endif %}
            {% endblock %}

            {% block buy_widget_rich_snippets_release_date %}
                {% if product.releaseDate %}
                    <meta itemprop="releaseDate" content="{{ product.releaseDate|format_date(pattern='Y-MM-dd') }}">
                {% endif %}
            {% endblock %}
        {% endblock %}

        {% block buy_widget_buy_container %}
            <div itemprop="offers" itemscope itemtype="{% if product.calculatedPrices|length > 1 %}https://schema.org/AggregateOffer{% else %}https://schema.org/Offer{% endif %}">
                {% block buy_widget_data %}
                    {% block buy_widget_data_rich_snippet_url %}
                        <meta itemprop="url" content="{{ seoUrl('frontend.detail.page', { productId: product.id }) }}">
                    {% endblock %}

                    {% block buy_widget_data_rich_snippet_price_range %}
                        {% if product.calculatedPrices|length > 1 %}
                            {% set lowestPrice = false %}
                            {% set highestPrice = false %}

                            {% for price in product.calculatedPrices %}
                                {% if not lowestPrice or price.unitPrice < lowestPrice %}
                                    {% set lowestPrice = price.unitPrice %}
                                {% endif %}
                                {% if not highestPrice or price.unitPrice > highestPrice %}
                                    {% set highestPrice = price.unitPrice %}
                                {% endif %}
                            {% endfor %}

                            <meta itemprop="lowPrice" content="{{ lowestPrice }}">
                            <meta itemprop="highPrice" content="{{ highestPrice }}">
                            <meta itemprop="offerCount" content="{{ product.calculatedPrices|length }}">
                        {% endif %}
                    {% endblock %}

                    {% block buy_widget_data_rich_snippet_price_currency %}
                        <meta itemprop="priceCurrency" content="{{ context.currency.translated.shortName }}">
                    {% endblock %}

                    <div class="product-buy-info-container card">
                        <div class="card-body">

                            <div style="font-size: 19px;margin-bottom: 20px;font-family: 'Inter', sans-serif !important;color: #393939 !important;line-height: 28px !important;overflow-wrap: break-word !important;font-weight: 700 !important;">
                                {{ product.translated.name }}
                            </div>

                            {% block buy_widget_price %}
                                <div class="product-detail-price-container">
                                    {% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
                                </div>
                            {% endblock %}

                            {% block buy_widget_tax %}
                                <div class="product-detail-tax-container mb-3">
                                    {% if context.taxState == 'gross' %}
                                        {% set taxText = 'general.grossTaxInformation'|trans|sw_sanitize %}
                                    {% else %}
                                        {% set taxText = 'general.netTaxInformation'|trans|sw_sanitize %}
                                    {% endif %}
                                    <p class="product-detail-tax small text-muted">
                                        {% block buy_widget_tax_link %}
                                            {% set cmsPath = path('frontend.cms.page', { id: config('core.basicInformation.shippingPaymentInfoPage') }) %}
                                            <span>
                                                {{ 'Preise inkl. MwSt. zzgl. Versandkosten' }}
                                            </span>
                                        {% endblock %}
                                    </p>
                                </div>
                            {% endblock %}

                            {% block buy_widget_buy_button_container %}
                                <div class="buy-button-container">

                                    <div class="quantity-container mb-3">
                                        {% block buy_widget_buy_quantity_input_group %}
                                            <div id="product-detail-quantity-group-{{ product.id }}" 
                                                class="input-group product-detail-quantity-group quantity-selector-group" 
                                                data-quantity-selector="true">
                                                <button type="button" 
                                                        class="btn btn-outline-light btn-minus js-btn-minus" 
                                                        aria-label="{{ 'component.product.quantitySelect.decrease'|trans|striptags }}">
                                                    {% sw_icon 'minus' style {size: 'xs'} %}
                                                </button>
                                                <input
                                                    type="number"
                                                    id="product-detail-quantity-{{ product.id }}"
                                                    name="lineItems[{{ product.id }}][quantity]"
                                                    class="form-control js-quantity-selector quantity-selector-group-input"
                                                    min="{{ product.minPurchase }}"
                                                    max="{{ product.calculatedMaxPurchase }}"
                                                    step="{{ product.purchaseSteps }}"
                                                    value="{{ product.minPurchase }}"
                                                    aria-label="{{ 'component.product.quantitySelect.label'|trans|striptags }}"
                                                />
                                                <button type="button" 
                                                        class="btn btn-outline-light btn-plus js-btn-plus" 
                                                        aria-label="{{ 'component.product.quantitySelect.increase'|trans|striptags }}">
                                                    {% sw_icon 'plus' style {size: 'xs'} %}
                                                </button>
                                                {% if product.translated.packUnit %}
                                                    <span class="input-group-text">
                                                        {% if product.minPurchase > 1 and product.translated.packUnitPlural %}
                                                            {{ product.translated.packUnitPlural }}
                                                        {% elseif product.translated.packUnit %}
                                                            {{ product.translated.packUnit }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            </div>
        
                                            {# Aria live region to tell the screen reader what quantity amount is selected when changing the quantity. #}
                                            {% block buy_widget_buy_quantity_live_area %}
                                                <div
                                                    class="quantity-area-live visually-hidden"
                                                    aria-live="polite"
                                                    aria-atomic="true"
                                                    data-aria-live-text="{{ 'component.product.quantitySelect.areaLiveText'|trans|striptags }}"
                                                    data-aria-live-product-name="{{ product.translated.name }}">
                                                    {# The live region content is generated by the `QuantitySelectorPlugin` #}
                                                </div>
                                            {% endblock %}
                                        {% endblock %}
                                    </div>

                                    {% block buy_widget_buy_button %}
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-buy"
                                                    type="submit"
                                                    title="{{ 'detail.addProduct'|trans|striptags }}"
                                                    aria-label="{{ 'detail.addProduct'|trans|striptags }}">
                                                <span class="btn-buy-icon me-2">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                        <circle cx="9" cy="21" r="1"></circle>
                                                        <circle cx="20" cy="21" r="1"></circle>
                                                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                                    </svg>
                                                </span>
                                                {{ 'In den Warenkorb'|sw_sanitize }}
                                            </button>
                                        </div>
                                    {% endblock %}

                                    {% block buy_widget_ordernumber_container %}
                                    {% if product.productNumber %}
                                        <div style="margin-left: 0.5rem!important;margin-top: 0.8rem!important;margin-bottom:0.5rem!important;font-size:0.775rem!important;" class="product-detail-ordernumber-container">
                                            <div class="card-body">
                                                {% block buy_widget_ordernumber_label %}
                                                    <span class="product-detail-ordernumber-label">
                                                        {{ 'detail.productNumberLabel'|trans|sw_sanitize }}
                                                    </span>
                                                {% endblock %}
                        
                                                {% block buy_widget_ordernumber %}
                                                    <meta itemprop="productID" content="{{ product.id }}">
                                                    <span class="product-detail-ordernumber" itemprop="sku">
                                                        {{ product.productNumber }}
                                                    </span>
                                                {% endblock %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

                {% block buy_widget_configurator_include %}
                    {% if product.parentId and configuratorSettings|length > 0 %}
                        <div class="product-detail-configurator-container card mt-3">
                            <div class="card-body">
                                {% sw_include '@Storefront/storefront/component/buy-widget/configurator.html.twig' %}
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}

        <div class="card mt-3">
            <div class="card-body">
                <div style="overflow: auto;">
                    <div style="justify-content:space-between;display:flex;line-height:22px;">
                        <p style="font-size:16px;font-weight:700;">Versand</p>
                    </div>
                    <ul style="margin: 0;padding: 0;color: #0c193a;">
                        <div>
                            <div style="padding-bottom: 16px;margin-bottom: 16px;border-bottom: 1px solid #ecedf0;">
                                <div style="align-items: center;color: var(--mm-color-foundation-textIcon-primary, #0c193a);display: flex;font-size: var(--mm-font-size-body2, 14px);font-weight: 600;justify-content: space-between;">
                                    <div style="font-size: 14px;line-height: 20px;font-weight: 600;color: #0c193a;">Lieferung nach Hause</div>
                                    <div style="font-size: 14px;line-height: 20px;font-weight: 600;color: #0c193a;">8,95 €</div>
                                </div>
                                <div style="padding: 8px 0 0;font-weight: 400;font-size: 14px;line-height: 20px;">
                                    <div style="padding: 0 0 8px 0;">
                                        {% set days = ['So.', 'Mo.', 'Di.', 'Mi.', 'Do.', 'Fr.', 'Sa.'] %}
                                        {% set monthNames = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'] %}
                                        {% set futureDateMin = date('now')|date_modify('+' ~ product.deliveryTime.min ~ ' days') %}
                                        {% set futureDateMax = date('now')|date_modify('+' ~ product.deliveryTime.max ~ ' days') %}
                                        {{ 'Zwischen ' }}
                                        <span style="font-weight:600;">
                                            {{ days[date(futureDateMin)|date('w')] ~ ' ' ~ futureDateMin|date('d') ~ '. ' ~ monthNames[date(futureDateMin)|date('n')-1] }}
                                        </span>
                                        {{ ' und ' }}
                                        <span style="font-weight:600;">
                                            {{ days[date(futureDateMax)|date('w')] ~ ' ' ~ futureDateMax|date('d') ~ '. ' ~ monthNames[date(futureDateMax)|date('n')-1] }}
                                        </span>
                                    </div>
                                    <div style="padding: 0 0 8px 0;">Bestellen Sie bis 12:00 Uhr</div>
                                </div>
                            </div>
                        </div>
                    </ul>
                    <ul style="display: flex;flex-direction: column;gap: 8px;list-style: none;padding: 0;margin: 0;">
                        <li style="align-items: center;display: flex;gap: 8px;">
                            <svg style="color: #367d65;" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                            Versandkostenfrei ab 50€
                        </li>
                        <li style="align-items: center;display: flex;gap: 8px;">
                            <svg style="color: #367d65;" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            Retoure innerhalb von 14 Tagen
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}