{% block component_product_box %}
    {% if product %}
        {% set name = product.translated.name %}
        {% set id = product.id %}
        {% set cover = product.cover.media %}
        {% set variation = product.variation %}
        {% set displayParent = product.variantListingConfig.displayParent and product.parentId === null %}

        <div class="card product-box box-{{ layout }}" data-product-information="{{ {id, name}|json_encode }}">
            {% block component_product_box_content %}
                <div class="card-body">
                    {% block component_product_box_badges %}
                        <div class="product-badges">
                            {% set price = product.calculatedPrice %}
                            {% if product.calculatedPrices.count > 0 %}
                                {% set price = product.calculatedPrices.last %}
                            {% endif %}

                            {% set listPrice = price.listPrice.percentage > 0 %}

                            <div style="display:flex;flex-direction: column;align-items: flex-start;">

                                {% if listPrice %}
                                    <span class="badge bg-danger badge-sale">
                                        <span aria-hidden="true">{{ '%'|sw_sanitize }}</span>
                                    </span>
                                {% endif %}

                                {% if product.markAsTopseller %}
                                    <span class="badge bg-warning badge-topseller">{{ 'listing.boxLabelTopseller'|trans|sw_sanitize }}</span>
                                {% endif %}

                                {% if product.isNew %}
                                    <span class="badge bg-success badge-new">{{ 'Neu'|sw_sanitize }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block component_product_box_image %}
                        <div class="product-image-wrapper">
                            {# fallback if display mode is not set #}
                            {% set displayMode = displayMode ?: 'standard' %}

                            {# set display mode 'cover' for box-image with standard display mode #}
                            {% if layout == 'image' and displayMode == 'standard' %}
                                {% set displayMode = 'cover' %}
                            {% endif %}

                            <a href="{{ seoUrl('frontend.detail.page', { productId: id }) }}"
                               title="{{ name }}"
                               class="product-image-link is-{{ displayMode }}">
                                {% block component_product_box_image_inner %}
                                    {% if cover.url and cover.isSpatialObject() == false %}
                                        {% set attributes = {
                                            class: 'product-image is-' ~ displayMode,
                                            title: (cover.translated.title ?: name)
                                        } %}

                                        {% if cover.getMediaType().getName() === 'VIDEO' %}
                                            {% if config('core.listing.autoplayVideoInListing') %}
                                                {% set attributes = attributes|merge({
                                                    autoplay: true,
                                                    loop: true
                                                }) %}
                                            {% endif %}

                                            {% sw_include '@Storefront/storefront/utilities/video.html.twig' with {
                                                media: cover,
                                                attributes: attributes
                                            } %}
                                        {% else %}
                                            {% set attributes = attributes|merge({
                                                alt: (cover.translated.alt ?: name),
                                                loading: 'lazy'
                                            }) %}

                                            {% if displayMode == 'cover' or displayMode == 'contain' %}
                                                {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                                            {% endif %}

                                            {% sw_thumbnails 'product-image-thumbnails' with {
                                                media: cover,
                                                sizes: sizes,
                                                attributes: attributes
                                            } %}
                                        {% endif %}
                                    {% else %}
                                        <div class="product-image-placeholder">
                                            {% sw_icon 'placeholder' style {
                                                size: 'fluid',
                                                ariaHidden: true
                                            } %}
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            </a>

                            {% if config('core.cart.wishlistEnabled') %}
                                {% block component_product_box_wishlist_action %}
                                    {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                                        appearance: 'circle',
                                        productId: id
                                    } %}
                                {% endblock %}
                            {% endif %}
                        </div>
                    {% endblock %}


                            {% block component_product_box_price %}
                                <div class="product-price-container">
                                    {% set price = product.calculatedPrice %}
                                    {% if product.calculatedPrices|length > 0 %}
                                        {% set price = product.calculatedPrices.last %}
                                    {% endif %}

                                    {% set isListPrice = price.listPrice.percentage > 0 %}
                                    
                                    <span class="product-price-current">
                                        {{ price.unitPrice|currency }}
                                    </span>
                                    
                                    {% if price.listPrice.percentage > 0 %}
                                        <span class="product-price-original">
                                            {{ price.listPrice.price|currency }}
                                        </span>
                                    {% endif %}
                                    
                                    {% if price.listPrice.percentage > 0 %}
                                        <span class="product-discount-badge">
                                            -{{ price.listPrice.percentage|round }}%
                                        </span>
                                    {% endif %}
                                </div>
                            {% endblock %}


                    {% block component_product_box_info %}
                        <div class="product-info">
                            {% block component_product_box_name %}
                                <a href="{{ seoUrl('frontend.detail.page', { productId: id }) }}"
                                   class="product-name"
                                   title="{{ name }}">
                                    {{ name }}
                                </a>
                            {% endblock %}
                            
                            {% block component_product_box_action %}
                                <div class="product-action-container">
                                    <div class="product-action">
                                        <form action="{{ path('frontend.checkout.line-item.add') }}"
                                            method="post"
                                            class="buy-widget"
                                            data-add-to-cart="true">
                                            
                                            <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas"/>
                                            <input type="hidden" name="lineItems[{{ id }}][id]" value="{{ id }}"/>
                                            <input type="hidden" name="lineItems[{{ id }}][type]" value="product"/>
                                            <input type="hidden" name="lineItems[{{ id }}][referencedId]" value="{{ id }}"/>
                                            <input type="hidden" name="lineItems[{{ id }}][quantity]" value="{{ product.minPurchase }}"/>
                                            
                                            <button class="btn btn-primary btn-buy" title="{{ 'Warenkorb hinzufügen'|sw_sanitize }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="b2122-b0"><path fill="currentColor" d="M9.925 5.371a1 1 0 1 0-1.858-.742L6.317 9h-1.2c-1.076 0-1.614 0-1.913.346-.3.346-.222.878-.067 1.942l.271 1.864c.475 3.265.902 4.898 2.03 5.873s2.778.975 6.08.975h.96c3.302 0 4.953 0 6.08-.975 1.128-.975 1.559-2.608 2.034-5.873l.271-1.864c.155-1.064.233-1.596-.067-1.942S19.96 9 18.883 9h-1.205l-1.75-4.371a1 1 0 0 0-1.857.742L15.523 9h-7.05zM10.997 14v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 2 0M14 13a1 1 0 0 1 1 1v2a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1"></path></svg>
                                                {{ 'Warenkorb hinzufügen'|sw_sanitize }}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}